In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2022-01-27 18:48:37,77.4840,-69.3632,-7.80,68,38,6.98
1,1,Pevek,RU,2022-01-27 18:51:00,69.7008,170.3133,-29.42,99,29,2.93
2,2,Ratnagiri,IN,2022-01-27 18:51:00,16.9833,73.3000,72.37,57,0,7.05
3,3,Sidi Ali,DZ,2022-01-27 18:51:01,36.0998,0.4206,52.21,54,95,10.80
4,4,Vaini,TO,2022-01-27 18:51:01,-21.2000,-175.2000,81.90,81,100,15.10

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating = False, 
                                 max_intensity = 300, 
                                 point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Vaini,TO,2022-01-27 18:51:01,-21.2000,-175.2000,81.90,81,100,15.10
5,5,Birnin Kebbi,NG,2022-01-27 18:51:01,12.4539,4.1975,75.15,17,0,9.17
9,9,Puerto Ayora,EC,2022-01-27 18:51:03,-0.7393,-90.3518,78.76,71,93,9.71
12,12,Rikitea,PF,2022-01-27 18:51:03,-23.1203,-134.9692,78.62,74,91,19.04
18,18,East London,ZA,2022-01-27 18:51:05,-33.0153,27.9116,76.14,88,75,8.05
19,19,Carnarvon,AU,2022-01-27 18:47:07,-24.8667,113.6333,75.27,83,75,12.66
24,24,Cabo San Lucas,MX,2022-01-27 18:46:13,22.8909,-109.9124,76.60,45,20,1.99
25,25,Pucallpa,PE,2022-01-27 18:47:12,-8.3791,-74.5539,89.64,58,75,6.91
28,28,Acarau,BR,2022-01-27 18:51:07,-2.8856,-40.1200,79.18,79,100,10.25
32,32,Jalingo,NG,2022-01-27 18:51:08,8.8833,11.3667,78.69,17,96,5.23

In [19]:
preferred_cities_df.count()

City_ID       153
City          153
Country       152
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4            Vaini      TO     81.90 -21.2000 -175.2000
5     Birnin Kebbi      NG     75.15  12.4539    4.1975
9     Puerto Ayora      EC     78.76  -0.7393  -90.3518
12         Rikitea      PF     78.62 -23.1203 -134.9692
18     East London      ZA     76.14 -33.0153   27.9116
19       Carnarvon      AU     75.27 -24.8667  113.6333
24  Cabo San Lucas      MX     76.60  22.8909 -109.9124
25        Pucallpa      PE     89.64  -8.3791  -74.5539
28          Acarau      BR     79.18  -2.8856  -40.1200
32         Jalingo      NG     78.69   8.8833   11.3667

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [23]:
# Making sure hotel_df has hotel names
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Vaini,TO,81.90,-21.2000,-175.2000,Keleti Beach Resort
5,Birnin Kebbi,NG,75.15,12.4539,4.1975,Saffar Guest Inn Ltd
9,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Rikitea,PF,78.62,-23.1203,-134.9692,People ThankYou
18,East London,ZA,76.14,-33.0153,27.9116,Tu Casa
19,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
24,Cabo San Lucas,MX,76.60,22.8909,-109.9124,Hotel Tesoro Los Cabos
25,Pucallpa,PE,89.64,-8.3791,-74.5539,Hospedaje Komby
28,Acarau,BR,79.18,-2.8856,-40.1200,castelo pizzaria
32,Jalingo,NG,78.69,8.8833,11.3667,Debright Motel

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Adding Info Boxes with HTML
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))